<?xml version="1.0" encoding="UTF-8"?>
<beans
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
 xmlns:tx="http://www.springframework.org/schema/tx" 
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns="http://www.springframework.org/schema/beans">
 
 
  <!--
  org.apache.commons.dbcp.BasicDataSource
 
  class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
   -->
 <bean id="dataSource"
  class="org.apache.commons.dbcp.BasicDataSource">
  <property name="driverClassName" value="com.mysql.jdbc.Driver" />
  <property name="url" value="jdbc:mysql://ip:3306/test" />
  <property name="username" value="xxxx" />
  <property name="password" value="xxxx" />
 </bean> 
 
 <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
  <property name="dataSource" ref="dataSource" />
  <property name="mapperLocations" value="classpath:com/meteor/mapper/User.xml" />
 </bean> 
 
<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate"> 
  <constructor-arg index="0" ref="sqlSessionFactory"></constructor-arg> 
  </bean>
  
 <bean id="userDAO" class="com.meteor.dao.UserDAO">
      <property name="sqlSession" ref="sqlSession"></property>
    </bean>

 <bean
  class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
  id="transactionManager">
  <property name="dataSource" ref="dataSource" />
 </bean>
 
<tx:annotation-driven proxy-target-class="true"
  transaction-manager="transactionManager" />
 
</beans> 
